listaYears = [ene01, feb01, mar01, abr01, may01, jun01, jul01, ago01, sep01, oct01, nov01, dic01]
year01 = pd.concat(listaYears)
year01.reset_index(drop=True, inplace=True)

In [8]:
import requests
import pandas as pd

# Año 2001

In [65]:
fechaIni = "2001-11-01"
fechaFin = "2001-11-30"

In [66]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/3a1e5677",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [67]:
lista2001 = [
        "https://opendata.aemet.es/opendata/sh/c341925f",
        "https://opendata.aemet.es/opendata/sh/278bcfba",
        "https://opendata.aemet.es/opendata/sh/dcd856f9",
        "https://opendata.aemet.es/opendata/sh/9dfb77ab",
        "https://opendata.aemet.es/opendata/sh/6de945b5",
        "https://opendata.aemet.es/opendata/sh/99aafb39",
        "https://opendata.aemet.es/opendata/sh/89fa44a8",
        "https://opendata.aemet.es/opendata/sh/f408f225",
        "https://opendata.aemet.es/opendata/sh/f8067151",
        "https://opendata.aemet.es/opendata/sh/98102f73",
        "https://opendata.aemet.es/opendata/sh/3a1e5677",
        "https://opendata.aemet.es/opendata/sh/d541919c"
        ]

In [9]:
def obtenerDatos(x):
    r = requests.get(x)
    j = r.json()
    df = pd.DataFrame(j)
    return df

In [73]:
df = pd.DataFrame()  
for x in lista2001:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2001 = df
df2001.reset_index(drop=True, inplace=True)
df2001.shape

(70876, 20)

# Año 2002

In [96]:
fechaIni = "2002-12-01"
fechaFin = "2002-12-31"

In [97]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/ad6d6d02",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [98]:
lista2002 = [
        "https://opendata.aemet.es/opendata/sh/94149dc2",
        "https://opendata.aemet.es/opendata/sh/5d9d1ed4",
        "https://opendata.aemet.es/opendata/sh/3cc4024e",
        "https://opendata.aemet.es/opendata/sh/343e4bab",
        "https://opendata.aemet.es/opendata/sh/6f6d2fe6",
        "https://opendata.aemet.es/opendata/sh/31c4d6c3",
        "https://opendata.aemet.es/opendata/sh/c24ea29b",
        "https://opendata.aemet.es/opendata/sh/3c32de67",
        "https://opendata.aemet.es/opendata/sh/a39e0966",
        "https://opendata.aemet.es/opendata/sh/05fe059c",
        "https://opendata.aemet.es/opendata/sh/79c32fdb",
        "https://opendata.aemet.es/opendata/sh/ad6d6d02"
        ]

In [99]:
df = pd.DataFrame()  
for x in lista2002:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2002 = df
df2002.reset_index(drop=True, inplace=True)
df2002.shape

(73312, 20)

# Año 2003

In [122]:
fechaIni = "2003-11-01"
fechaFin = "2003-11-30"

In [123]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/d848ed5a",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [124]:
lista2003 = [
        "https://opendata.aemet.es/opendata/sh/d182a785",
        "https://opendata.aemet.es/opendata/sh/0f92bc1e",
        "https://opendata.aemet.es/opendata/sh/8baf918e",
        "https://opendata.aemet.es/opendata/sh/fe3fe9ef",
        "https://opendata.aemet.es/opendata/sh/4d18f2c7",
        "https://opendata.aemet.es/opendata/sh/8ea34a7c",
        "https://opendata.aemet.es/opendata/sh/dfd66367",
        "https://opendata.aemet.es/opendata/sh/7809f2ac",
        "https://opendata.aemet.es/opendata/sh/c4d47da7",
        "https://opendata.aemet.es/opendata/sh/579492ab",
        "https://opendata.aemet.es/opendata/sh/d848ed5a",
        "https://opendata.aemet.es/opendata/sh/925764fb"
        ]

In [125]:
df = pd.DataFrame()  
for x in lista2003:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2003 = df
df2003.reset_index(drop=True, inplace=True)
df2003.shape

(74660, 20)

# Año 2004

In [148]:
fechaIni = "2004-12-01"
fechaFin = "2004-12-31"

In [149]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/181c625f",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [150]:
lista2004 = [
        "https://opendata.aemet.es/opendata/sh/836659b0",
        "https://opendata.aemet.es/opendata/sh/dd1b8178",
        "https://opendata.aemet.es/opendata/sh/1d751345",
        "https://opendata.aemet.es/opendata/sh/2f0ef26e",
        "https://opendata.aemet.es/opendata/sh/2e6ec5cd",
        "https://opendata.aemet.es/opendata/sh/744c4bb0",
        "https://opendata.aemet.es/opendata/sh/41fa0c60",
        "https://opendata.aemet.es/opendata/sh/193104df",
        "https://opendata.aemet.es/opendata/sh/949ef510",
        "https://opendata.aemet.es/opendata/sh/1ddfbfa3",
        "https://opendata.aemet.es/opendata/sh/e4fe8367",
        "https://opendata.aemet.es/opendata/sh/181c625f"
        ]

In [151]:
df = pd.DataFrame()  
for x in lista2004:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2004 = df
df2004.reset_index(drop=True, inplace=True)
df2004.shape

(75289, 20)

# Año 2005

In [174]:
fechaIni = "2005-12-01"
fechaFin = "2005-12-31"

In [175]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/c8cd163a",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [176]:
lista2005 = [
        "https://opendata.aemet.es/opendata/sh/325a4f4d",
        "https://opendata.aemet.es/opendata/sh/7885ef60",
        "https://opendata.aemet.es/opendata/sh/02fb6a91",
        "https://opendata.aemet.es/opendata/sh/6af5b9b6",
        "https://opendata.aemet.es/opendata/sh/e5707321",
        "https://opendata.aemet.es/opendata/sh/6d689769",
        "https://opendata.aemet.es/opendata/sh/7ff9730e",
        "https://opendata.aemet.es/opendata/sh/281e4236",
        "https://opendata.aemet.es/opendata/sh/3f20a477",
        "https://opendata.aemet.es/opendata/sh/2eb4694a",
        "https://opendata.aemet.es/opendata/sh/cd3abbc4",
        "https://opendata.aemet.es/opendata/sh/c8cd163a"
        ]

In [177]:
df = pd.DataFrame()  
for x in lista2005:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2005 = df
df2005.reset_index(drop=True, inplace=True)
df2005.shape

(75778, 20)

# Año 2006

In [202]:
fechaIni = "2006-12-01"
fechaFin = "2006-12-31"

In [203]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/a905722b",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [204]:
lista2006 = [
        "https://opendata.aemet.es/opendata/sh/11864b61",
        "https://opendata.aemet.es/opendata/sh/30f3109f",
        "https://opendata.aemet.es/opendata/sh/fa57fad2",
        "https://opendata.aemet.es/opendata/sh/577374a4",
        "https://opendata.aemet.es/opendata/sh/d75383b6",
        "https://opendata.aemet.es/opendata/sh/712ff91b",
        "https://opendata.aemet.es/opendata/sh/3369784d",
        "https://opendata.aemet.es/opendata/sh/ef1ef3be",
        "https://opendata.aemet.es/opendata/sh/8b9d08f5",
        "https://opendata.aemet.es/opendata/sh/52e9090b",
        "https://opendata.aemet.es/opendata/sh/df410024",
        "https://opendata.aemet.es/opendata/sh/a905722b"
        ]

In [205]:
df = pd.DataFrame()  
for x in lista2006:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2006 = df
df2006.reset_index(drop=True, inplace=True)
df2006.shape

(79259, 20)

# Año 2007

In [228]:
fechaIni = "2007-12-01"
fechaFin = "2007-12-31"

In [229]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/f6e6cbce",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [230]:
lista2007 = [
        "https://opendata.aemet.es/opendata/sh/396221f2",
        "https://opendata.aemet.es/opendata/sh/b4bc5340",
        "https://opendata.aemet.es/opendata/sh/77952e8c",
        "https://opendata.aemet.es/opendata/sh/101ef2c6",
        "https://opendata.aemet.es/opendata/sh/cf8bd7c2",
        "https://opendata.aemet.es/opendata/sh/c99a96b8",
        "https://opendata.aemet.es/opendata/sh/f04c6db5",
        "https://opendata.aemet.es/opendata/sh/da7a2b7c",
        "https://opendata.aemet.es/opendata/sh/f407ccd8",
        "https://opendata.aemet.es/opendata/sh/ca7db096",
        "https://opendata.aemet.es/opendata/sh/b77f70b0",
        "https://opendata.aemet.es/opendata/sh/f6e6cbce"
        ]

In [231]:
df = pd.DataFrame()  
for x in lista2007:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2007 = df
df2007.reset_index(drop=True, inplace=True)
df2007.shape

(77150, 20)

# Año 2008

In [258]:
fechaIni = "2008-12-01"
fechaFin = "2008-12-31"

In [259]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/aa14b816",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [260]:
lista2008 = [
        "https://opendata.aemet.es/opendata/sh/70c9507a",
        "https://opendata.aemet.es/opendata/sh/050d79ee",
        "https://opendata.aemet.es/opendata/sh/f769856d",
        "https://opendata.aemet.es/opendata/sh/90ce06ce",
        "https://opendata.aemet.es/opendata/sh/75a62f18",
        "https://opendata.aemet.es/opendata/sh/55d2464c",
        "https://opendata.aemet.es/opendata/sh/92757bca",
        "https://opendata.aemet.es/opendata/sh/a5445b66",
        "https://opendata.aemet.es/opendata/sh/8c09ac9d",
        "https://opendata.aemet.es/opendata/sh/757b1dce",
        "https://opendata.aemet.es/opendata/sh/fff7104c",
        "https://opendata.aemet.es/opendata/sh/aa14b816"
        ]

In [261]:
df = pd.DataFrame()  
for x in lista2008:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2008 = df
df2008.reset_index(drop=True, inplace=True)
df2008.shape

(77877, 20)

# Año 2009

In [286]:
fechaIni = "2009-12-01"
fechaFin = "2009-12-31"

In [287]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/7f86e1ce",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [288]:
lista2009 = [
        "https://opendata.aemet.es/opendata/sh/e7455686",
        "https://opendata.aemet.es/opendata/sh/8c2e241d",
        "https://opendata.aemet.es/opendata/sh/279013d8",
        "https://opendata.aemet.es/opendata/sh/60cfc47c",
        "https://opendata.aemet.es/opendata/sh/311def87",
        "https://opendata.aemet.es/opendata/sh/86b265d0",
        "https://opendata.aemet.es/opendata/sh/690859b7",
        "https://opendata.aemet.es/opendata/sh/87557273",
        "https://opendata.aemet.es/opendata/sh/a9391528",
        "https://opendata.aemet.es/opendata/sh/39bab528",
        "https://opendata.aemet.es/opendata/sh/5d6a3370",
        "https://opendata.aemet.es/opendata/sh/7f86e1ce"
        ]

In [289]:
df = pd.DataFrame()  
for x in lista2009:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2009 = df
df2009.reset_index(drop=True, inplace=True)
df2009.shape

(82567, 20)

# Año 2010

In [312]:
fechaIni = "2010-12-01"
fechaFin = "2010-12-31"

In [313]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/58743ab0",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [314]:
lista2010 = [
        "https://opendata.aemet.es/opendata/sh/574bd5e8",
        "https://opendata.aemet.es/opendata/sh/9483927b",
        "https://opendata.aemet.es/opendata/sh/397389e1",
        "https://opendata.aemet.es/opendata/sh/fffc0e52",
        "https://opendata.aemet.es/opendata/sh/748a016c",
        "https://opendata.aemet.es/opendata/sh/31ce2334",
        "https://opendata.aemet.es/opendata/sh/0443d8f4",
        "https://opendata.aemet.es/opendata/sh/e289d582",
        "https://opendata.aemet.es/opendata/sh/cfdf543a",
        "https://opendata.aemet.es/opendata/sh/9ed4986b",
        "https://opendata.aemet.es/opendata/sh/e309df21",
        "https://opendata.aemet.es/opendata/sh/58743ab0"
        ]

In [315]:
df = pd.DataFrame()  
for x in lista2010:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2010 = df
df2010.reset_index(drop=True, inplace=True)
df2010.shape

(82677, 20)

# Año 2011

In [338]:
fechaIni = "2011-12-01"
fechaFin = "2011-12-31"

In [339]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/94322a2b",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [340]:
lista2011 = [
        "https://opendata.aemet.es/opendata/sh/7e5316c7",
        "https://opendata.aemet.es/opendata/sh/a1b60444",
        "https://opendata.aemet.es/opendata/sh/e78ebff9",
        "https://opendata.aemet.es/opendata/sh/2f62608a",
        "https://opendata.aemet.es/opendata/sh/a0baf1d5",
        "https://opendata.aemet.es/opendata/sh/392a9462",
        "https://opendata.aemet.es/opendata/sh/cc30e9e4",
        "https://opendata.aemet.es/opendata/sh/db50c061",
        "https://opendata.aemet.es/opendata/sh/e4e14f91",
        "https://opendata.aemet.es/opendata/sh/e2da9972",
        "https://opendata.aemet.es/opendata/sh/bb88ec29",
        "https://opendata.aemet.es/opendata/sh/94322a2b"
        ]

In [341]:
df = pd.DataFrame()  
for x in lista2011:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2011 = df
df2011.reset_index(drop=True, inplace=True)
df2011.shape

(85090, 20)

# Año 2012

In [364]:
fechaIni = "2012-12-01"
fechaFin = "2012-12-31"

In [365]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/0821cfcf",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [366]:
lista2012 = [
        "https://opendata.aemet.es/opendata/sh/27cd05df",
        "https://opendata.aemet.es/opendata/sh/881a7457",
        "https://opendata.aemet.es/opendata/sh/8ce99cea",
        "https://opendata.aemet.es/opendata/sh/553e8b46",
        "https://opendata.aemet.es/opendata/sh/40c979db",
        "https://opendata.aemet.es/opendata/sh/ba6fce25",
        "https://opendata.aemet.es/opendata/sh/901be804",
        "https://opendata.aemet.es/opendata/sh/ea0decb9",
        "https://opendata.aemet.es/opendata/sh/c14b8d46",
        "https://opendata.aemet.es/opendata/sh/d46c3e40",
        "https://opendata.aemet.es/opendata/sh/241f0465",
        "https://opendata.aemet.es/opendata/sh/0821cfcf"
        ]

In [367]:
df = pd.DataFrame()  
for x in lista2012:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2012 = df
df2012.reset_index(drop=True, inplace=True)
df2012.shape

(87615, 20)

# Año 2013

In [390]:
fechaIni = "2013-12-01"
fechaFin = "2013-12-31"

In [391]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/bfefd99d",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [392]:
lista2013 = [
        "https://opendata.aemet.es/opendata/sh/7cd98880",
        "https://opendata.aemet.es/opendata/sh/aa084dbe",
        "https://opendata.aemet.es/opendata/sh/cef3412d",
        "https://opendata.aemet.es/opendata/sh/300b226f",
        "https://opendata.aemet.es/opendata/sh/77a226e1",
        "https://opendata.aemet.es/opendata/sh/8bba5efb",
        "https://opendata.aemet.es/opendata/sh/1432c54c",
        "https://opendata.aemet.es/opendata/sh/bb2f250d",
        "https://opendata.aemet.es/opendata/sh/503fad59",
        "https://opendata.aemet.es/opendata/sh/23ace945",
        "https://opendata.aemet.es/opendata/sh/ac8abf76",
        "https://opendata.aemet.es/opendata/sh/bfefd99d"
        ]

In [393]:
df = pd.DataFrame()  
for x in lista2013:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2013 = df
df2013.reset_index(drop=True, inplace=True)
df2013.shape

(90998, 20)

# Año 2014

In [416]:
fechaIni = "2014-12-01"
fechaFin = "2014-12-31"

In [417]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/bbe3c66e",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [418]:
lista2014 = [
        "https://opendata.aemet.es/opendata/sh/d0a45038",
        "https://opendata.aemet.es/opendata/sh/12bba357",
        "https://opendata.aemet.es/opendata/sh/875213ad",
        "https://opendata.aemet.es/opendata/sh/a169ce0d",
        "https://opendata.aemet.es/opendata/sh/063bb9d6",
        "https://opendata.aemet.es/opendata/sh/76f93892",
        "https://opendata.aemet.es/opendata/sh/13fd0f12",
        "https://opendata.aemet.es/opendata/sh/55773945",
        "https://opendata.aemet.es/opendata/sh/3cc5a752",
        "https://opendata.aemet.es/opendata/sh/cb1812d0",
        "https://opendata.aemet.es/opendata/sh/30c9e769",
        "https://opendata.aemet.es/opendata/sh/bbe3c66e"
        ]

In [419]:
df = pd.DataFrame()  
for x in lista2014:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2014 = df
df2014.reset_index(drop=True, inplace=True)
df2014.shape

(92892, 20)

# Año 2015

In [442]:
fechaIni = "2015-12-01"
fechaFin = "2015-12-31"

In [443]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}T00%3A00%3A00UTC/fechafin/{}T23%3A59%3A59UTC/todasestaciones".format(fechaIni, fechaFin)
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/ab70d0ef",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [444]:
lista2015 = [
        "https://opendata.aemet.es/opendata/sh/2a43f55a",
        "https://opendata.aemet.es/opendata/sh/a7646c4d",
        "https://opendata.aemet.es/opendata/sh/4d9c09f3",
        "https://opendata.aemet.es/opendata/sh/4afd7ec0",
        "https://opendata.aemet.es/opendata/sh/53e1869d",
        "https://opendata.aemet.es/opendata/sh/9bea74f2",
        "https://opendata.aemet.es/opendata/sh/2a99ecd0",
        "https://opendata.aemet.es/opendata/sh/c87c05d0",
        "https://opendata.aemet.es/opendata/sh/90091b20",
        "https://opendata.aemet.es/opendata/sh/ea565b2a",
        "https://opendata.aemet.es/opendata/sh/d7d1ad68",
        "https://opendata.aemet.es/opendata/sh/ab70d0ef"
        ]

In [445]:
df = pd.DataFrame()  
for x in lista2015:
    df = pd.concat([df,obtenerDatos(x)], ignore_index = True)
    df2015 = df
df2015.reset_index(drop=True, inplace=True)
df2015.shape

(93950, 20)

# Todos los años

In [446]:
listaYears = [df2001, df2002, df2003, df2004, df2005, df2006, df2007, df2008, df2009, 
              df2010, df2011, df2012, df2013, df2014, df2015]
datosAemet = pd.concat(listaYears)
datosAemet.reset_index(drop=True, inplace=True)
datosAemet.shape

(1219990, 20)

In [447]:
datosAemet.to_csv('datosAemet.csv')
datosAemet.to_csv('datosAemetNoIndex.csv', index = False)