In [1]:
import requests
import pandas as pd

In [2]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones"
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZvbnNvc3Bpbm9sYUBnbWFpbC5jb20iLCJqdGkiOiJmNDhmMmIyMS00ZTU1LTQ2NjgtYTdjZS1lNmY5M2RkYmU3NDciLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYyNDAzODE5NSwidXNlcklkIjoiZjQ4ZjJiMjEtNGU1NS00NjY4LWE3Y2UtZTZmOTNkZGJlNzQ3Iiwicm9sZSI6IiJ9.RNfRWDVTw488ARtSjfihHdulZCo46n1IFnGmWNCsWHU"}
headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b233cf18",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}

In [3]:
url = "https://opendata.aemet.es/opendata/sh/b233cf18"

In [4]:
def obtenerDatos(x):
    r = requests.get(x)
    j = r.json()
    df = pd.DataFrame(j)
    return df

In [6]:
estaciones = obtenerDatos(url)

In [7]:
estaciones.head()

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
0,413515N,BARCELONA,74,0252D,ARENYS DE MAR,08186,023224E
1,411734N,BARCELONA,4,0076,BARCELONA AEROPUERTO,08181,020412E
2,412506N,BARCELONA,408,0200E,"BARCELONA, FABRA",,020727E
3,412326N,BARCELONA,6,0201D,BARCELONA,08180,021200E
4,414312N,BARCELONA,291,0149X,MANRESA,08174,015025E

In [8]:
estaciones.to_csv('estaciones.csv')
estaciones.to_csv('estacionesNoIndex.csv', index = False)